view,swiper,swiper-item {
    box-sizing: border-box;
}

.pageColor{
    background: 
    linear-gradient(to bottom,transparent,#fff 50%),
    linear-gradient(to right, #beecd8 20%,#f4e2d8);
    min-height: 80vh;
}
